<!-- templates/registration/password_reset_email.html -->
Hi {{ user.get_username }},

You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:

{% autoescape off %}
{{ reset_link }}
{% endautoescape %}

Your password reset link will expire in 24 hours.

If you did not request this password reset, please ignore this email and your password will remain unchanged.

Thanks for using our site!
